{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "TokenCacheStorageContainer" :"tokencache3",
    "SpeechKey" : "",
    "SpeachLocationRegion" : "",
    "SpeechRecognitionLanguage" : "pl-PL",
    "OnedriveApplicationCliendId" : "",
    "OnedriveFolderName": "Test 123",
    "PushOverUserId" : "",
    "PushOverAppTokenId" : "",
    "TwilioAuthToken" : "",
    "ConversationTemplateFileName" : "Szablon.json",
    "PartialSpeechRecognitionEnabled" : "true",
    "PartialSpeechMinimumChars": "20",
    "SaySomethingWhenPartialSpeechLongerThanChars": "80",
    "KeepConversationKeyWord" : "podtrzymaj"
  },
  "ConnectionStrings": {}
}