{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "TokenCacheStorageContainer" :"tokencache3",
    "WebPubSubHub": "",
    "WebPubSubConnectionString": "",
    "SpeechKey" : "",
    "SpeachLocationRegion" : "",
    "SpeechRecognitionLanguage" : "pl-PL",
    "OnedriveApplicationCliendId" : "",
    "OnedriveFolderName": "",
    "PushOverUserId" : "",
    "PushOverAppTokenId" : "",
    "TwilioAuthToken" : "",
    "ConversationTemplateFileName" : ""
  },
  "ConnectionStrings": {}
}